.togglebutton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
  height: 24px;
  width: 60px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.togglebutton:focus {
  outline: none;
}

.togglebuttonline {
  width: 30px;
  height: 2px;
  background: black;
}
